# Written in Swagger-editor
swagger: "2.0"
info:
  title: HipChat API v2
  description: |
    HipChat APIv2 specification in Swagger YAML,
    mostly hand-exported from [official doc](https://www.hipchat.com/docs/apiv2).

    See [the repository](https://github.com/ymtszw/hipchat_swagger) for development details and policies.
  version: "v2"
host: api.hipchat.com
schemes:
  - https
basePath: /v2
produces:
  - application/json
paths:
  /capabilities:
    get:
      summary: Get Capabilities
      description: |
        Gets the capabilities descriptor for HipChat

        Authentication not required.

        https://www.hipchat.com/docs/apiv2/method/get_capabilities
      tags:
        - Capabilities
      responses:
        200:
          description: Capabilities
          schema:
            type: object
  /capabilities/addon/schema:
    get:
      summary: Get addon capabilities schema
      description: |
        Gets the addon capabilities descriptor schema

        Authentication not required.

        https://www.hipchat.com/docs/apiv2/method/get_addon_capabilities_schema
      parameters:
        - name: draft
          in: query
          required: false
          type: string
          enum:
            - v2
            - v4
      tags:
        - Capabilities
      responses:
        200:
          description: Addon capabilities schema
          schema:
            type: object # The response from this API itself is a JSON schema
  /emoticon/{emoticon_id_or_key}:
    get:
      summary: Get emoticon
      description: |
        Get emoticon details.

        Authentication required, with scope view_group.

        Accessible by group clients, room clients, users.

        https://www.hipchat.com/docs/apiv2/method/get_emoticon
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
        - name: emoticon_id_or_key
          in: path
          required: true
          type: string
      tags:
        - Emoticons
      responses:
        200:
          description: Emoticon
          schema:
            type: object
  /emoticon:
    get:
      summary: Get all emoticons
      description: |
        Gets all emoticons for the current group

        Authentication required, with scope view_group.

        Accessible by group clients, room clients, users.

        https://www.hipchat.com/docs/apiv2/method/get_all_emoticons
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
        - name: start-index
          in: query
          type: integer
          required: false
        - name: max-results
          in: query
          type: integer
          required: false
        - name: type
          in: query
          type: string
          enum:
            - global
            - group
            - all
          required: false
      tags:
        - Emoticons
      responses:
        200:
          description: Emoticons
          schema:
            type: object
  /extension/action/{key}:
    get:
      summary: Get global action
      description: |
        Retrieve a global action.

        Authentication required.

        Accessible by group clients.

        https://www.hipchat.com/docs/apiv2/method/get_global_action
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
        - name: key
          in: path
          type: string
          required: true
      tags:
        - Extensions
      responses:
        200:
          description: Global action
          schema:
            type: object
    put:
      summary: Create global action
      description: |
        Create a global action.

        Dynamically created actions have the following restrictions:

        - You can only create 10 global actions
        - You cannot modify an action that was declared in the descriptor

        Authentication required.

        Accessible by group clients.

        https://www.hipchat.com/docs/apiv2/method/create_global_action
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
        - name: key
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - target
              - location
              - key
              - name
            properties:
              target:
                type: object
              weight:
                type: integer
              location:
                type: string
              key:
                type: string
              conditions:
                type: array
                items:
                  type: object
              name:
                type: object
      tags:
        - Extensions
      responses:
        201:
          description: Global action created
          schema:
            type: object
    delete:
      summary: Delete global action
      description: |
        Delete a global action. You cannot delete an action which was declared in the descriptor.

        Authentication required.

        Accessible by group clients.

        https://www.hipchat.com/docs/apiv2/method/delete_global_action
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
        - name: key
          in: path
          type: string
          required: true
      tags:
        - Extensions
      responses:
        204:
          description: Global action deleted
  /room/{room_id_or_name}/notification:
    post:
      summary: Send room notification
      description: |
        Send a message to a room with JSON payload. Other content-types are not included.

        Authentication required, with scope send_notification.

        Accessible by group clients, room clients, users.

        https://www.hipchat.com/docs/apiv2/method/send_room_notification
      parameters:
        - name: Authorization
          in: header
          type: string
          required: true
        - name: room_id_or_name
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - message
            properties:
              from:
                type: string
              message_format:
                type: string
              color:
                type: string
              attach_to:
                type: string
              notify:
                type: boolean
              message:
                type: string
              card:
                type: object
      tags:
        - Rooms
      responses:
        204:
          description: Room notification sent
  /group/{group_id}:
    get:
      summary: Get group # `View group` in the doc
      description: |
        Get a group's details.

        Authentication required, with scope view_group.

        Accessible by group clients, users.

        https://www.hipchat.com/docs/apiv2/method/view_group
      parameters:
        - name: group_id
          in: path
          type: string
          required: true
      tags:
        - Groups
      responses:
        200:
          description: Group
          schema:
            type: object
  /group/{group_id}/avatar:
    get:
      summary: Get group avatar
      description: |
        Gets a group avatar

        Authentication required, with scope view_group.

        Accessible by group clients, users.

        https://www.hipchat.com/docs/apiv2/method/get_group_avatar
      parameters:
        - name: group_id
          in: path
          type: string
          required: true
      tags:
        - Groups
      responses:
        302:
          description: Redirect to group avatar
    put:
      summary: Update group avatar
      description: |
        Update a group avatar.

        Accepted image types are JPEG, PNG and GIF.
        Must be included in `avatar` field of request body, as base64 encoded string.

        Authentication required, with scope admin_group.

        Accessible by group clients, users.

        https://www.hipchat.com/docs/apiv2/method/update_group_avatar
      parameters:
        - name: group_id
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            required:
              - avatar
            properties:
              avatar:
                type: string
      tags:
        - Groups
      responses:
        204:
          description: Group avatar updated
    delete:
      summary: Delete group avatar
      description: |
        Delete group avatar.

        Authentication required, with scope admin_group.

        Accessible by group clients, users.

        https://www.hipchat.com/docs/apiv2/method/delete_group_avatar
      parameters:
        - name: group_id
          in: path
          type: string
          required: true
      tags:
        - Groups
      responses:
        204:
          description: Group avatar deleted
  /group/{group_id}/statistics:
    get:
      summary: Get group statistics # `Group statistics` in the doc
      description: |
        Get a group's details.

        Authentication required, with scope view_group.

        Accessible by group clients, users.

        https://www.hipchat.com/docs/apiv2/method/group_statistics
      parameters:
        - name: group_id
          in: path
          type: string
          required: true
      tags:
        - Groups
      responses:
        200:
          description: Group statistics
          schema:
            type: object
