# Written in Swagger-editor
swagger: "2.0"
info:
  title: HipChat API v2
  description: |
    HipChat APIv2 specification in Swagger YAML,
    mostly hand-exported from [official doc](https://www.hipchat.com/docs/apiv2).

    See [the repository](https://github.com/ymtszw/hipchat_swagger) for development details and policies.
  version: "v2"
host: api.hipchat.com
schemes:
  - https
basePath: /v2
produces:
  - application/json
paths:
  # Capabilities API
  /capabilities:
    get:
      summary: Get Capabilities
      description: https://www.hipchat.com/docs/apiv2/method/get_capabilities
      tags:
        - Capabilities
      responses:
        200:
          description: Capabilities
          schema:
            type: object
  /capabilities/addon/schema:
    get:
      summary: Get addon capabilities schema
      description: https://www.hipchat.com/docs/apiv2/method/get_addon_capabilities_schema
      parameters:
        - name: draft
          in: query
          required: false
          type: string
          enum:
            - v2
            - v4
      tags:
        - Capabilities
      responses:
        200:
          description: Addon capabilities schema
          schema:
            type: object
  # Emoticons API
  /emoticon/{emoticon_id_or_key}:
    get:
      summary: Get emoticon
      description: https://www.hipchat.com/docs/apiv2/method/get_emoticon
      parameters:
        - name: emoticon_id_or_key
          in: path
          required: true
          type: string
      tags:
        - Emoticons
      responses:
        200:
          description: Emoticon
          schema:
            type: object
  /emoticon:
    get:
      summary: Get all emoticons
      description: https://www.hipchat.com/docs/apiv2/method/get_all_emoticons
      parameters:
        - name: start-index
          in: query
          type: integer
          required: false
        - name: max-results
          in: query
          type: integer
          required: false
        - name: type
          in: query
          type: string
          enum:
            - global
            - group
            - all
          required: false
      tags:
        - Emoticons
      responses:
        200:
          description: Emoticons
          schema:
            type: object
  # Extensions API
  /extension/action/{key}:
    get:
      summary: Get global action
      description: https://www.hipchat.com/docs/apiv2/method/get_global_action
      parameters:
        - name: key
          in: path
          type: string
          required: true
      tags:
        - Extensions
      responses:
        200:
          description: Global action
          schema:
            type: object
    put:
      summary: Create global action
      description: https://www.hipchat.com/docs/apiv2/method/create_global_action
      parameters:
        - name: key
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - target
              - location
              - key
              - name
            properties:
              target:
                type: object
              weight:
                type: integer
              location:
                type: string
              key:
                type: string
              conditions:
                type: array
                items:
                  type: object
              name:
                type: object
      tags:
        - Extensions
      responses:
        201:
          description: Global action created
          schema:
            type: object
    delete:
      summary: Delete global action
      description: https://www.hipchat.com/docs/apiv2/method/delete_global_action
      parameters:
        - name: key
          in: path
          type: string
          required: true
      tags:
        - Extensions
      responses:
        204:
          description: Global action deleted
  # Groups API
  /group/{group_id}:
    get:
      summary: Get group # `View group` in the doc
      description: https://www.hipchat.com/docs/apiv2/method/view_group
      parameters:
        - name: group_id
          in: path
          type: string
          required: true
      tags:
        - Groups
      responses:
        200:
          description: Group
          schema:
            type: object
  /group/{group_id}/avatar:
    get:
      summary: Get group avatar
      description: https://www.hipchat.com/docs/apiv2/method/get_group_avatar
      parameters:
        - name: group_id
          in: path
          type: string
          required: true
      tags:
        - Groups
      responses:
        302:
          description: Redirect to group avatar
    put:
      summary: Update group avatar
      description: https://www.hipchat.com/docs/apiv2/method/update_group_avatar
      parameters:
        - name: group_id
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            required:
              - avatar
            properties:
              avatar:
                type: string
      tags:
        - Groups
      responses:
        204:
          description: Group avatar updated
    delete:
      summary: Delete group avatar
      description: https://www.hipchat.com/docs/apiv2/method/delete_group_avatar
      parameters:
        - name: group_id
          in: path
          type: string
          required: true
      tags:
        - Groups
      responses:
        204:
          description: Group avatar deleted
  /group/{group_id}/statistics:
    get:
      summary: Get group statistics # `Group statistics` in the doc
      description: https://www.hipchat.com/docs/apiv2/method/group_statistics
      parameters:
        - name: group_id
          in: path
          type: string
          required: true
      tags:
        - Groups
      responses:
        200:
          description: Group statistics
          schema:
            type: object
  # Integration API
  /addon/link:
    post:
      summary: Create integration link
      description: https://www.hipchat.com/docs/apiv2/method/create_integration_link
      parameters:
        - name: body
          in: body
          required: true
          schema:
            required:
              - target
              - ttl
            properties:
              target:
                type: string
              ttl:
                type: integer
      tags:
        - Integrations
      responses:
        200:
          description: Integration link created
          schema:
            type: object
  /addon/link/{token}:
    delete:
      summary: Delete integration link
      description: https://www.hipchat.com/docs/apiv2/method/delete_integration_link
      parameters:
        - name: token
          in: path
          type: string
          required: true
      tags:
        - Integrations
      responses:
        204:
          description: Integration link deleted
  /addon/ui:
    post:
      summary: Addon UI update
      description: https://www.hipchat.com/docs/apiv2/method/addon_ui_update
      parameters:
        - name: body
          in: body
          required: true
          schema:
            required:
              - glance
            properties:
              glance:
                type: array
                items:
                  type: object
      tags:
        - Integrations
      responses:
        204:
          description: Addon UI updated
  /addon/ui/room/{room_id_or_name}:
    post:
      summary: Room Addon UI update
      description: https://www.hipchat.com/docs/apiv2/method/room_addon_ui_update
      parameters:
        - name: room_id_or_name
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            required:
              - glance
            properties:
              glance:
                type: array
                items:
                  type: object
      tags:
        - Integrations
      responses:
        204:
          description: Room Addon UI updated
  /addon/ui/room/{room_id_or_name}/user/{user_id_or_email}:
    post:
      summary: User in Room Addon UI update
      description: https://www.hipchat.com/docs/apiv2/method/user_in_room_addon_ui_update
      parameters:
        - name: room_id_or_name
          in: path
          type: string
          required: true
        - name: user_id_or_email
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            required:
              - glance
            properties:
              glance:
                type: array
                items:
                  type: object
      tags:
        - Integrations
      responses:
        204:
          description: User in Room Addon UI updated
  /addon/ui/user/{user_id_or_email}:
    post:
      summary: User Addon UI update
      description: https://www.hipchat.com/docs/apiv2/method/user_addon_ui_update
      parameters:
        - name: user_id_or_email
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            required:
              - glance
            properties:
              glance:
                type: array
                items:
                  type: object
      tags:
        - Integrations
      responses:
        204:
          description: User Addon UI updated
  # Invites API
  /invite/user:
    post:
      summary: Invite user to group
      description: https://www.hipchat.com/docs/apiv2/method/invite_user_to_group
      parameters:
        - name: body
          in: body
          required: true
          schema:
            required:
              - email
              - name
            properties:
              email:
                type: string
              name:
                type: string
              title:
                type: string
      tags:
        - Invites
      responses:
        200:
          description: User invited to group
          schema:
            type: object
  # OAuth Sessions API
  /oauth/token/{access_token}:
    get:
      summary: Get session
      description: https://www.hipchat.com/docs/apiv2/method/get_session
      parameters:
        - name: access_token
          in: path
          type: string
          required: true
      tags:
        - Oauth Sessions
      responses:
        200:
          description: OAuth session
          schema:
            type: object
    delete:
      summary: Delete session
      description: https://www.hipchat.com/docs/apiv2/method/delete_session
      parameters:
        - name: access_token
          in: path
          type: string
          required: true
      tags:
        - Oauth Sessions
      responses:
        204:
          description: OAuth session deleted
  /oauth/token:
    post:
      summary: Generate token
      description: https://www.hipchat.com/docs/apiv2/method/generate_token
      parameters:
        - name: body
          in: body
          required: true
          schema:
            required:
              - grant_type
            properties:
              username:
                type: string
              grant_type:
                type: string
                enum:
                  - authorization_code
                  - refresh_token
                  - password
                  - client_credentials
                  - personal
                  - room_notification
              user_id:
                type: string
              code:
                type: string
              client_name:
                type: string
              redirect_url:
                type: string
              scope:
                type: string
              password:
                type: string
              group_id:
                type: string
              refresh_token:
                type: string
      tags:
        - Oauth Sessions
      responses:
        200:
          description: Token generated
          schema:
            type: object
  # Rooms API
  /room:
    get:
      summary: Get all rooms
      description: https://www.hipchat.com/docs/apiv2/method/get_all_rooms
      parameters:
        - name: start-index
          in: query
          type: integer
          required: false
        - name: max-results
          in: query
          type: integer
          required: false
        - name: include-private
          in: query
          type: boolean
          required: false
        - name: include-archived
          in: query
          type: boolean
          required: true
      tags:
        - Rooms
      responses:
        200:
          description: All rooms
          schema:
            type: object
    post:
      summary: Create room
      description: https://www.hipchat.com/docs/apiv2/method/create_room
      parameters:
        - name: body
          in: body
          required: true
          schema:
            required:
              - name
            properties:
              name:
                type: string
              privacy:
                type: string
                enum:
                  - public
                  - private
              delegate_admin_visibility:
                type: boolean
              topic:
                type: string
              owner_user_id:
                type: string
              guest_access:
                type: boolean
      tags:
        - Rooms
      responses:
        201:
          description: Room created
          schema:
            type: object
  /room/{room_id_or_name}:
    get:
      summary: Get room
      description: https://www.hipchat.com/docs/apiv2/method/get_room
      parameters:
        - name: room_id_or_name
          in: path
          type: string
          required: true
      tags:
        - Rooms
      responses:
        200:
          description: Room
          schema:
            type: object
    put:
      summary: Update room
      description: https://www.hipchat.com/docs/apiv2/method/update_room
      parameters:
        - name: room_id_or_name
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            required:
              - name
              - privacy
              - is_archived
              - is_guest_accessible
              - topic
              - owner
            properties:
              name:
                type: string
              privacy:
                type: string
              is_archived:
                type: boolean
              is_guest_accessible:
                type: boolean
              topic:
                type: string
              owner:
                type: object
              delegate_admin_visibility:
                type: boolean
      tags:
        - Rooms
      responses:
        204:
          description: Room updated
    delete:
      summary: Delete room
      description: https://www.hipchat.com/docs/apiv2/method/delete_room
      parameters:
        - name: room_id_or_name
          in: path
          type: string
          required: true
      tags:
        - Rooms
      responses:
        204:
          description: Room deleted
  /room/{room_id_or_name}/avatar:
    get:
      summary: Get room avatar
      description: https://www.hipchat.com/docs/apiv2/method/get_room_avatar
      parameters:
        - name: room_id_or_name
          in: path
          type: string
          required: true
      tags:
        - Rooms
      responses:
        304:
          description: Room avatar
    put:
      summary: Update room avatar
      description: https://www.hipchat.com/docs/apiv2/method/update_room_avatar
      parameters:
        - name: room_id_or_name
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            required:
              - avatar
            properties:
              avatar:
                type: string
      tags:
        - Rooms
      responses:
        204:
          description: Room avatar updated
    delete:
      summary: Delete room avatar
      description: https://www.hipchat.com/docs/apiv2/method/delete_room_avatar
      parameters:
        - name: room_id_or_name
          in: path
          type: string
          required: true
      tags:
        - Rooms
      responses:
        204:
          description: Group avatar deleted
  /room/{room_id_or_name}/extension/action/{key}:
    get:
      summary: Get room action
      description: https://www.hipchat.com/docs/apiv2/method/get_room_action
      parameters:
        - name: room_id_or_name
          in: path
          type: string
          required: true
        - name: key
          in: path
          type: string
          required: true
      tags:
        - Rooms
      responses:
        200:
          description: Room action
          schema:
            type: object
    put:
      summary: Create room action
      description: https://www.hipchat.com/docs/apiv2/method/create_room_action
      parameters:
        - name: room_id_or_name
          in: path
          type: string
          required: true
        - name: key
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            required:
              - target
              - location
              - key
              - name
            properties:
              target:
                type: object
              weight:
                type: integer
              location:
                type: string
              key:
                type: string
              conditions:
                type: array
                items:
                  type: object
              name:
                type: object
      tags:
        - Rooms
      responses:
        201:
          description: Room action created
          schema:
            type: object
    delete:
      summary: Delete room action
      description: https://www.hipchat.com/docs/apiv2/method/delete_room_action
      parameters:
        - name: room_id_or_name
          in: path
          type: string
          required: true
        - name: key
          in: path
          type: string
          required: true
      tags:
        - Rooms
      responses:
        204:
          description: Room action deleted
  /room/{room_id_or_name}/notification:
    post:
      summary: Send room notification
      description: https://www.hipchat.com/docs/apiv2/method/send_room_notification
      parameters:
        - name: room_id_or_name
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - message
            properties:
              from:
                type: string
              message_format:
                type: string
              color:
                type: string
              attach_to:
                type: string
              notify:
                type: boolean
              message:
                type: string
              card:
                type: object
      tags:
        - Rooms
      responses:
        204:
          description: Room notification sent
  # Users API
  /user:
    get:
      summary: Get all users
      description: https://www.hipchat.com/docs/apiv2/method/get_all_users
      parameters:
        - name: start-index
          in: query
          type: integer
          required: false
        - name: max-results
          in: query
          type: integer
          required: false
        - name: include-guests
          in: query
          type: boolean
          required: false
        - name: include-deleted # XXX Hyphen?
          in: query
          type: boolean
          required: false
      tags:
        - Users
      responses:
        200:
          description: All users
          schema:
            type: object
    post:
      summary: Create user
      description: https://www.hipchat.com/docs/apiv2/method/create_user
      parameters:
        - name: body
          in: body
          required: true
          schema:
            required:
              - name
              - email
            properties:
              name:
                type: string
              roles:
                type: array
                items:
                  type: string
              title:
                type: string
              mention_name:
                type: string
              is_group_admin:
                type: boolean
              timezone:
                type: string
              password:
                type: string
              email:
                type: string
      tags:
        - Users
      responses:
        201:
          description: User created
          schema:
            type: object
  /user/{id_or_email}:
    get:
      summary: Get user # `View user` in the doc
      description: https://www.hipchat.com/docs/apiv2/method/view_user
      parameters:
        - name: id_or_email
          in: path
          type: string
          required: true
      tags:
        - Users
      responses:
        200:
          description: User
          schema:
            type: object
    put:
      summary: Update user
      description: https://www.hipchat.com/docs/apiv2/method/update_user
      parameters:
        - name: id_or_email
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            required:
              - name
              - mention_name
              - email
            properties:
              name:
                type: string
              roles:
                type: array
                items:
                  type: string
              title:
                type: string
              presence:
                type: object
              mention_name:
                type: string
              is_group_admin:
                type: boolean
              timezone:
                type: string
              password:
                type: string
              email:
                type: string
      tags:
        - Users
      responses:
        204:
          description: User updated
    delete:
      summary: Delete user # `View user` in the doc
      description: https://www.hipchat.com/docs/apiv2/method/delete_user
      parameters:
        - name: id_or_email
          in: path
          type: string
          required: true
      tags:
        - Users
      responses:
        204:
          description: User deleted
  /user/{id_or_email}/history:
    get:
      summary: Get privatechat history # `View privatechat history` in the doc
      description: https://www.hipchat.com/docs/apiv2/method/view_privatechat_history
      parameters:
        - name: id_or_email
          in: path
          type: string
          required: true
        - name: start-index
          in: query
          type: integer
          required: false
        - name: max-results
          in: query
          type: integer
          required: false
        - name: include_deleted # XXX Underscore?
          in: query
          type: boolean
          required: false
        - name: reverse
          in: query
          type: boolean
          required: false
        - name: date
          in: query
          type: string
          required: false
        - name: timezone
          in: query
          type: string
          required: false
        - name: end-date
          in: query
          type: string
          required: false
      tags:
        - Users
      responses:
        200:
          description: Privatechat history
          schema:
            type: object
  /user/{id_or_email}/history/latest:
    get:
      summary: Get recent privatechat history # `View recent privatechat history` in the doc
      description: https://www.hipchat.com/docs/apiv2/method/view_recent_privatechat_history
      parameters:
        - name: id_or_email
          in: path
          type: string
          required: true
        - name: max-results
          in: query
          type: integer
          required: false
        - name: include_deleted # XXX Underscore?
          in: query
          type: boolean
          required: false
        - name: timezone
          in: query
          type: string
          required: false
        - name: not-before
          in: query
          type: string
          required: false
      tags:
        - Users
      responses:
        200:
          description: Recent privatechat history
          schema:
            type: object
  /user/{id_or_email}/history/{message_id}:
    get:
      summary: Get privatechat message
      description: https://www.hipchat.com/docs/apiv2/method/get_privatechat_message
      parameters:
        - name: id_or_email
          in: path
          type: string
          required: true
        - name: message_id
          in: path
          type: string
          required: true
        - name: include_deleted # XXX Underscore?
          in: query
          type: boolean
          required: false
        - name: timezone
          in: query
          type: string
          required: false
      tags:
        - Users
      responses:
        200:
          description: Privatechat message
          schema:
            type: object
  /user/{id_or_email}/message:
    post:
      summary: Send privatechat message # `Private message user` in the doc
      description: https://www.hipchat.com/docs/apiv2/method/private_message_user
      parameters:
        - name: id_or_email
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            required:
              - message
            properties:
              message:
                type: string
              notify:
                type: boolean
              message_format:
                type: string
      tags:
        - Users
      responses:
        204:
          description: Privatechat message sent
  /user/{id_or_email}/photo/{size}:
    get:
      summary: Get photo
      description: https://www.hipchat.com/docs/apiv2/method/get_photo
      parameters:
        - name: id_or_email
          in: path
          type: string
          required: true
        - name: size
          in: path
          type: string
          enum:
            - small
            - big
          required: true
      tags:
        - Users
      responses:
        302:
          description: Redirect to photo
  /user/{id_or_email}/photo:
    put:
      summary: Update photo
      description: https://www.hipchat.com/docs/apiv2/method/update_photo
      parameters:
        - name: id_or_email
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            required:
              - photo
            properties:
              photo:
                type: string
      tags:
        - Users
      responses:
        204:
          description: Photo updated
    delete:
      summary: Delete photo
      description: https://www.hipchat.com/docs/apiv2/method/delete_photo
      parameters:
        - name: id_or_email
          in: path
          type: string
          required: true
      tags:
        - Users
      responses:
        204:
          description: Photo deleted
  /user/{id_or_email}/preference/auto-join:
    get:
      summary: Get auto join rooms
      description: https://www.hipchat.com/docs/apiv2/method/get_auto_join_rooms
      parameters:
        - name: id_or_email
          in: path
          type: string
          required: true
        - name: start-index
          in: query
          type: integer
          required: false
        - name: max-results
          in: query
          type: integer
          required: false
      tags:
        - Users
      responses:
        200:
          description: Auto join rooms
          schema:
            type: object
  /user/{id_or_email}/share/link:
    post:
      summary: Share link with user
      description: https://www.hipchat.com/docs/apiv2/method/share_link_with_user
      parameters:
        - name: id_or_email
          in: path
          type: string
          required: true
        - name: body
          in: body
          required: true
          schema:
            required:
              - link
            properties:
              message:
                type: string
              link:
                type: string
      tags:
        - Users
      responses:
        204:
          description: Link shared with user
